<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
	<title><%= title %></title>
		
	<%= csrf_meta_tags %>
    <%= render 'layouts/stylesheets' %>
=======
  <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
>>>>>>> c41798b2b20f2648ec33f0eeaf65dea9abd3ee1b
</head>
<body>
	<div class   = "container">
	<%= render 'layouts/header' %>
		<section class="round">
		  <%= yield %>
		</section>
		
		<%= render 'layouts/footer' %>
	
	</div>
</body>
</html>


<<<<<<< HEAD

































=======
>>>>>>> c41798b2b20f2648ec33f0eeaf65dea9abd3ee1b
